plugins {
    id 'org.springframework.boot' version "${springBootVersion}"
    id 'io.spring.dependency-management' version "${springDependencyManagementVersion}"
    id 'org.graalvm.buildtools.native' version "${graalvmBuildToolsVersion}"
    id 'java'
}

dependencies {
    implementation project(':sdks:java')
    testImplementation 'org.springframework.boot:spring-boot-starter-test'
}

tasks.named('test') {
    useJUnitPlatform()
}

bootJar {
    archiveFileName = '{{FUNCTION_NAME}}.jar'
    // keep in sync with Dockerfile COPY
}

bootBuildImage {
    doFirst {
        throw new GradleException('Native buildpacks are disabled; use tools/native-java/Dockerfile instead')
    }
}
